<%= form_for([@post, @post.comments.build]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "add your comment here...", class: "form-control tinymce" %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id if user_signed_in? %>
  <%= f.submit "Add your comments", class: "button btn btn-default" %>
<% end %>