<div id="add-email" class="container">
  <h1>Change passwors</h1>
  <%= form_for(current_user, as: "user", url: finish_signup_path(current_user),
    html: { role: "form"}) do |f| %>
    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :password %>
      <div class="controls">
        <%= f.text_field :password, autofocus: true, class: "form-control input-lg", placeholder: "passsword" %>
        <p class="help-block">Please change your password. No spam.</p>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Continue", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>