<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3 user-avatar">
    <section class="user_info">
      <h1>
        <% if @user.avatar? %>
          <%= image_tag(@user.avatar.url(:medium), size: "250x250", class: "img-rounded") %>
        <% else %>
          <%= image_tag("avatar-default.png", size: "250x250", class: "img-thumbnail img-responsive") %>
        <% end %>
      </h1>
      <div align="center">
        <%= render 'follow_form' if user_signed_in? %>
      </div>
    </section>
  </aside>
  <div class="col-md-6">
    <h2><%= @user.name %></h2>
      <p class="text-muted">
        <%= @user.bio if @user.bio %>
      </p>
  </div>
  <div class="col-md-3">
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-envelope"></span> <%= @user.email %></li>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-thumbs-up"></span>  </li>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-link"></span> <%= @user.link if @user.link %> </li>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-phone-alt"></span> <%= @user.phonenumber if @user.phonenumber %> </li>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-time"></span> <%= @user.created_at %> </li>
      <li class="text-muted detail-info"><span class="glyphicon glyphicon-home"></span> <%= @user.location if @user.location %> </li>
    </section>
  </div>
</div>
<div id="posts" class="row">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ol class="microposts">
      <%= render @user.posts %>
    </ol>
  <% end %>
</div>