<h2 class="comment_count"><%= pluralize(@post.comments.count, "Comment") %></h2>
<div class="comment-form">
  <%= render "comments/form" %>
</div>
<% @comments.each do |comment| %>
  <div class="media">
	  <a class="pull-left" href="#">
	  	<% if comment.user.avatar? %>
	  		<%= image_tag(comment.user.avatar.url(:thumb)) %>
	  	<% else %>
	      <%= image_tag("avatar-default.png", size: "64x64") %>
	    <% end %>
	  </a>
	  <div class="media-body">
	      <h4 class="media-heading"><%= link_to comment.user.name, comment.user %></h4>
	      <p class="text-muted"><%= comment.content %></p>
	      <small class="pull-right text-muted">Shared <%= time_ago_in_words(@post.created_at) %>  ago.</small>
	  </div>
	</div>
<% end %>
