<h2 class="comment_count"><%= pluralize(@post.comments.count, "Comment") %></h2>
<div class="comment-form">
  <%= render "comments/form" %>
</div>
<% @comments.each do |comment| %>
  <div class="comment">
    <p class="username"><%= comment.user.name if comment.user %></p>
    <p class="content"><%= comment.content %></p>
    <p class="text-muted pull-right"><%= time_ago_in_words(@post.created_at) %>  ago.</p>
  </div>
<% end %>
