<h3> Other Posts</h3>
<div class="post" %>
  <div class="post_image" >
    <%= link_to (image_tag @random_post.image.url(:medium)), post_path(@random_post) %>
  </div>
  <div class="post_content">
    <div class="title" >
      <h2><%= link_to @random_post.title.first(15), post_path(@random_post) %></h2>
    </div>
    <div class="data clearfix" >
      <p class="username" >
        Shared by <%= @random_post.user.name %>
      </p>
      <p class="buttons" >
        <span>
          <i class="glyphicon glyphicon-comment"> <%= @random_post.comments.count %></i>
        </span>
        <span>
          <i class="glyphicon glyphicon-thumbs-up"> <%= @random_post.get_likes.size %></i>
      </p>
    </div>
  </div>          
</div>