<% provide :title, @post.title %>
<div id="post_show">
	<h1><%= @post.title %></h1>
	<p class="username">
		Post by <%= link_to @post.user.name, @post.user %> | <%= time_ago_in_words(@post.created_at) %>  ago.
	</p>
  <div class="row">
    <div class="post_image_description col-md-10">
      <%= image_tag @post.image.url(:medium), class: "img-responsive" %>
      <div class="description"><%= simple_format(@post.description) %></div>
      <div class="post_data">
        <%= link_to "Visit Link", @post.link, class: "btn btn-primary" %>
        <div class="vote pull-right">
          <%= link_to like_post_path(@post), method: :get, class: "data" do %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= pluralize(@post.get_upvotes.size, "") %>
            </button>
          <% end %>
          | 
          <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <%= pluralize(@post.get_downvotes.size, "") %>
            </button>
          <% end %>
        </div>
        <p class="data" >
        <% if @post.user == current_user || current_user.admin %>
          <%= link_to "Edit", edit_post_path(@post), class: "data" %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data" %>
        <% end %>
        </p>
      </div>
    </div>
    <div id="random_post" class="col-md-2">
        <div class="well">
          <%= render "random_post" %>
        </div>
    </div>
  </div>
</div>
<div id="comments">
  <%= render "comments" %>
</div>
